.img {
    width: 300px;
    height: auto;
    border: none;
    border-radius: 2px;
}

.small-img {
    width: 150px;
    height: auto;
    border: none;
    border-radius: 1px;
}

.large-img {
    width: 550px;
    height: auto;
    border: none;
    border-radius: 3px;
}